img {
    object-fit: cover;
}

h1 {
    position: absolute;
    text-align: center;
}

.specialH2{
    width: 100%;
    padding-bottom: 50px;
}


.imageCollection {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.smallDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 400px;
    gap: 20px;
    border-radius: 10%;
}

.midBanner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 20%;
}


.column2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 10%;
}

.textBox {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    text-align: left;
    width: 100%;
    gap: 100px;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
}

.leftDiv {
    width: 60%;
}

.rightDiv {
    align-items: center;
    justify-content: center;
    height: 100%;
}

@media screen and (max-width: 1390px) {

    .column2 {
        flex-direction: column;
        gap: 40px;
    }

    .leftDiv{
        text-align: justify;
        width: 90%;
    }

    .rightDiv {
        width: 70%;
    }

    .textBox {
        flex-direction: column-reverse;
        gap: 50px;
        margin-top: 0%;
    }
}


@media screen and (max-width: 800px) {

    section {
        margin-bottom: 20%;
    }

    .specialH2{
        padding-bottom: 5px;
    }

    img#apollo {
        object-fit: cover;
        object-position: 0% 18%;
        opacity: 55%;
    }

    .centerText {
        align-items: normal;
        justify-content: left;
        text-align: left;
        gap: 20px;
        margin-top: 20%;
    }

    .column {
        flex-direction: column;
        align-items: center;

    }

    .leftDiv {
        display: flex;
        flex-direction: column;
        width: 70%;
        height: 180px;
        gap: 25px;
    }

    .rightDiv {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 25px;
    }

    .imageCollection {
        display: flex;
        position: relative;
        flex-direction: column;
        gap: 30px;
    }

    .smallDiv {
        display: flex;
        text-align: left;
        justify-content: left;
        width: 100%;
        height: 250px;
        gap: 20px;
        border-radius: 30px;
        padding-bottom: 50px;
    }

    .midBanner {
        height: 150px;
    }

    .column2 {
        gap: 20px;
        margin-bottom: 0%;
        text-align: left;
    }

    .leftDiv {
        width: 100%;
        height: 100%;
        gap: 20px
    }

    .rightDiv {
        width: 100%;
        height: auto;
        gap: 20px;
        padding-left: 10%;
        padding-right: 10%;
    }
}