img {
    object-fit: cover;
}

h1 {
    position: absolute;
    text-align: center;
}

.centerText {
    display: flex;
    width: 100%;
    margin-top: 20%;
    margin-bottom: 20%;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
}

.imageCollection {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.smallDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 400px;
    gap: 20px;
    border-radius: 10%;
}

.midBanner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
}

.column {
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    gap: 40px;
    padding-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
}

.column2 {
    margin-bottom: 5%;
}

.textBox{
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    gap: 100px;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
}

.leftDiv {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 25px
}

.rightDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
    gap: 25px;
}

@media screen and (max-width: 1300px) {

    .column2 {
        display: flex;
        position: relative;
        flex-direction: column;
        width: 100%;
        padding-bottom: 100px;
        gap: 40px;
    }

    .textBox{
        display: flex;
        flex-direction: column;
    }

    .leftDiv {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        gap: 25px
    }

    .rightDiv {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 70%;
        height: 300px;
        gap: 25px;
    }
}


@media screen and (max-width: 800px) {
    img#apollo {
        object-fit: cover;
        object-position: 0% 18%;
        opacity: 55%;
    }

    .centerText {
        align-items: normal;
        justify-content: left;
        text-align: left;
        width: 100%;
        gap: 20px;
        margin-top: 20%;
        margin-bottom: 20%;
    }

    .column {
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 40px;
        padding-bottom: 200px;

    }

    .leftDiv {
        display: flex;
        flex-direction: column;
        width: 70%;
        height: 180px;
        gap: 25px;
    }

    .rightDiv {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 25px;
    }

    .imageCollection {
        display: flex;
        position: relative;
        flex-direction: column;
        gap: 30px;
    }

    .smallDiv {
        display: flex;
        text-align: left;
        justify-content: left;
        width: 100%;
        height: 250px;
        gap: 20px;
        border-radius: 30px;
        padding-bottom: 50px;
    }

    .midBanner {
        height: 150px;
    }

    .column2 {
        display: flex;
        position: relative;
        flex-direction: column;
        width: 100%;
        padding-bottom: 100px;
        gap: 40px;
    }

    .leftDiv {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        gap: 25px
    }

    .rightDiv {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 300px;
        gap: 25px;
    }
}