section {
    color: white;
    background-image: url(../img/gasgiantbackground.jpg);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 60%;
    margin: 0%;
}

h3 {
    position: relative;
}

h1{
    margin-bottom: 3%;
    
}

.container{
    display: flex;
    flex-direction: row;
    margin: 10%;
    margin-top: 0%;
    text-shadow: 5px 2px 4px black;
}

.text{
    margin-top: 25%;
}

.mainText {
    display: flex;
    position: relative;
    text-align: justify;
    gap: 20px;
    flex-direction: column;
    width: 50%;
}

.box{
    display: flex;
    display: row;
    justify-content: left;
    gap: 5%;
    top: 0;
}

.buttoncolumn {
    display: flex;;
    gap: 3%;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}


.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.planetbutton {
    display: flex;
    justify-content: center;
    padding: 5px;
    padding-bottom: 25px;
}

/* Responsive Design for Mobile */
@media screen and (max-width: 1220px) {
    .container {
        flex-direction: column;
        display: flex;
        align-items: center;
    }

    .text {
        padding-bottom: 10%;
    }

    .buttoncolumn {
        display: flex;
        gap: 0px;
        width: 100%;
        height: auto;
        justify-content: center;
    }
}

/* Responsive Design for Mobile */
@media screen and (max-width: 800px) {
    section {
        background-size: 120%;
    }

    .container {
        padding-top: 70%;
    }

    .column {
        height: auto;
        align-items: center;
        flex-direction: row;
    }

    .planetbutton {
        width: 300%;
        height: 100%;
    }
}