section {
    color: white;
    background-image: url(../img/gasgiantbackground.jpg);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 50%;
    margin: 0%;
}

.container {
    padding: 0% 10%;
    padding-top: 20%;
    padding-bottom: 5%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 5%;
}

h3 {
    position: relative;
}

h1 {
    position: relative;
    text-align: left;
    text-shadow: 5px 2px 4px black;
}

.text {
    display: flex;
    position: relative;
    text-align: justify;
    width: 100%;
    gap: 20px;
    flex-direction: column;
}

.buttoncolumn {
    display: flex;
    gap: 8px;
    width: 50%;
    justify-content: flex-end;
    align-items: right;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.planetbutton {
    display: flex;
    justify-content: center;
    padding: 5px;
    padding-bottom: 25px;
}

/* Responsive Design for Mobile */
@media screen and (max-width: 1220px) {
    .container {
        flex-direction: column;
        display: flex;
        align-items: center;
    }

    .text {
        padding-bottom: 10%;
    }

    .buttoncolumn {
        display: flex;
        gap: 0px;
        width: 100%;
        height: auto;
        justify-content: center;
    }
}

/* Responsive Design for Mobile */
@media screen and (max-width: 800px) {
    section {
        background-size: 120%;
    }

    .container {
        padding-top: 70%;
    }

    .column {
        height: auto;
        align-items: center;
        flex-direction: row;
    }

    .planetbutton {
        width: 300%;
        height: 100%;
    }
}