@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    color: white;
    align-items: center;
    margin: 10%;
}

body {
    font-family: "Exo 2", sans-serif;
    background-color: #000000;
    color: #8F8F8F;
    font-size: 20px;
}

img {
    height: 100%;
    width: 100%;
}

a {
    color: #8F8F8F;
    text-decoration: none;
}

a.head {
    font-weight: 500;
    font-size: 25px;
    color: white;
}

a:hover {
    color: #ccc;
}

h1 {
    font-family: "Orbitron", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 72px;
    letter-spacing: 10px;
    color: white;
}

h2 {
    font-family: "Orbitron", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 48px;
    letter-spacing: 10px;
}


h3 {
    font-family: "Exo 2", sans-serif;
    font-weight: bold;
    font-size: 32px;
}

p {
    font-family: "Exo 2", sans-serif;
    font-size: 20px;
}

b {
    font-family: "Exo 2", sans-serif;
    font-size: 20px;
}

.hide-item {
    display: flex;
}

.show-item {
    display: none;
}

.topBanner {
    display: flex;
    position: relative;
    max-width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    color: white;
}

.curved {
    border-radius: 30px;
}


/* Navigation */
.navbar {
    display: flex;
    position: sticky;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-left: 60px;
    padding-right: 60px;
    background-color: #101010;
    border-bottom: 1px solid #333;
    height: 75px;
    z-index: 1;
    top: 0;
}

.logo {
    height: 35px;
    width: 50px;
}

/* Navigation css*/
.menu {
    display: flex;
    justify-content: right;
    gap: 6%;
    width: 100%;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.menu a {
    text-decoration: none;
    color: #8F8F8F;
    transition: color 0.3s;
}

.menu a:hover {
    color: #ccc;
}

.menu a:active {
    color: white;
}

/* Hamburger Menu */
.menu-toggle {
    display: none;
}

.mobile-menu {
    display: none;
    cursor: pointer;
    color: #fff;
    position: absolute;
    top: 25px;
    right: 20px;
}

.menu-item {
    padding-top: 30px;
    padding-bottom: 30px
}

.menu-item-withsub {
    padding-top: 30px;
    padding-bottom: 30px;
}

.menu-item-withsub:hover .subMenu {
    display: block;
}

.mobile-menu {
    display: none;
    font-size: 30px;
    cursor: pointer;
}


.subMenu {
    margin-top: 25px;
    background-color: #363636;
    display: none;
    position: absolute;
    min-width: 70px;
    z-index: 1;
    padding: 15px;
}

.subMenu a {
    display: block;
    text-decoration: none;
    text-align: left;
}

.choose {
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.choose:hover {
    background-color: #525252;
}

/* Footer css */
footer {
    border-top: 1px solid #333;
    background-color: #101010;
    color: #8F8F8F;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 45px;
}

.foot {
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 50px;
}

.footerMid {
    display: flex;
    flex-direction: column;
    width: 180px;
    padding: 10px;
}

.footerText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px 30px;
    width: auto;
    color: #8F8F8F;
}

.footerBottom {
    display: flex;
    flex-direction: row;
}

.footerRight {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-left: auto;
    gap: 20px;
}

.footerSocial {
    height: 30px;
    width: 30px;
}

.footerLeft {
    height: 40px;
    width: 50px;
}

/* Responsive Design for Mobile */
@media screen and (max-width: 800px) {

    body {
        font-size: 13px;
    }

    h1 {
        font-size: 28px;
    }

    h2 {
        font-family: "Exo 2", sans-serif;
        font-weight: bold;
        text-transform: none;
        font-size: 19px;
        letter-spacing: normal;
        text-transform: capitalize;
        padding-bottom: 6px;
    }

    h3 {
        font-weight: bold;
        font-size: 16px;
    }

    p {
        font-size: 13px;
    }

    b {
        font-size: 13px;
    }


    .topBanner {
        height: 200px;
        display: flex;
        position: relative;
        max-width: 100%;
        margin-top: auto;
    }

    .logo {
        height: 32px;
        width: 40px;
    }

    a.head {
        font-size: 16px;
    }

    .foot {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 15%;
        row-gap: 40px;
        margin-left: 5%;
        margin-right: 5%;
    }

    .footerMid {
        display: flex;
        flex-direction: column;
        width: 140px;
        padding: 10px;
    }

    .menu {
        background-color: #242424;
        display: none;
        flex-direction: column;
        gap: 0px;
        position: fixed;
        top: 75px;
        right: 0;
        width: 100%;
        text-align: center;
        z-index: 100;
    }

    .menu-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .menu-item-withsub {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0px;
        padding-top: 5%;
    }

    .subMenu {
        display: block;
        position: static;
        width: 100%;
        margin-top: 5%;
        padding: 0px;
    }

    .subMenu a {
        text-align: center;
    }

    .choose {
        padding: 3%;
        text-align: center;
    }

    .menu-toggle:checked+.mobile-menu+.menu {
        display: flex;
    }

    .mobile-menu {
        display: block;
        cursor: pointer;
        color: #fff;
        position: absolute;
        top: 50%;
        /* Center vertically in the navigation bar */
        right: 20px;
        transform: translateY(-50%);
        /* Adjust positioning to exact center */
    }

    .mid {
        padding-right: 30px;
    }

    .footerSocial {
        height: 25px;
        width: 25px;
    }

    .footerLeft {
        height: 32px;
        width: 40px;
    }

    .url {
        font-size: 16px;
    }

    .footerRight {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-left: auto;
        gap: 15px;
    }

    .hide-item {
        display: flex;
    }

    .show-item {
        display: none;
    }
}