section {
    background-image: url(../img/icegiants-background.jpg);
    background-size: 60%;
    margin: 0%;
}

.container {
    padding: 0% 10%;
    padding-top: 15%;
    padding-bottom: 5%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 5%;
}

h3 {
    position: relative;
    text-shadow: 5px 2px 4px black;
}

h1 {
    position: relative;
    text-align: left;
    text-shadow: 5px 2px 4px black;
}

.text {
    display: flex;
    position: relative;
    text-align: justify;
    width: 100%;
    gap: 20px;
    flex-direction: column;
    text-shadow: 5px 2px 4px black;
}

.buttoncolumn {
    display: flex;
    gap: 8px;
    width: 50%;
    justify-content: flex-end;
    align-items: right;
}

/* Responsive Design for Mobile */
@media screen and (max-width: 1220px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .text {
        padding-bottom: 10%;
    }

    .buttoncolumn {
        gap: 0px;
        width: 100%;
        height: auto;
        justify-content: center;
        order: 2;
    }

    .text {
        order: 1;
    }
}

/* Responsive Design for Mobile */
@media screen and (max-width: 800px) {
    section {
        background-size: 120%;
    }

    .container {
        padding-top: 70%;
    }

    .column {
        height: auto;
        align-items: center;
        flex-direction: row;
    }
}