section {
    margin-top: 15%;
}

.leftDiv img {
    object-fit: cover;
    max-height: 400px;
    max-width: 700px;
}

h1 {
    position: absolute;
    text-align: center;
}

hr {
    width: 100%;
}

img {
    object-fit: cover;
}

.middle {
    width: 50%;
    border-color: rgb(142, 142, 142);
}

.centerText {
    margin-bottom: 10%;
}

.column {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 90px;
    flex-direction: column;
    margin-top: 5%;
    margin-bottom: 10%;
}

.textBox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    margin-left: 10%;
    margin-right: 10%;
}

.leftDiv {
    gap: 20px
}

.rightDiv {
    gap: 20px;
}

.titleBox p {
    color: rgb(142, 142, 142);
}

@media screen and (max-width: 800px) {}

@media screen and (max-width: 800px) {

    section {
        margin: 15%;
    }

    h3 {
        min-height: auto;
    }

    hr {
        width: 100%;
    }

    h2{
        text-transform: uppercase;
        font-family: "Orbitron", sans-serif;
        font-weight: bold;
        text-transform: uppercase;
    }

    .centerText{
        text-align: left;
        margin-bottom: 0px;
    }

    .column {
        flex-direction: column;
        justify-content: left;
        width: 100%;
        gap: 70px;
        margin-top: 5%;
        margin-bottom: 15%;
    }

    .textBox {
        display: flex;
        justify-content: left;
        align-items: center;
        gap: 20px;
        flex-direction: column;
        margin-left: 0;
        margin-right: 0%;
    }

    .leftDiv {
        width: 80%;
    }

    .rightDiv {
        width: 100%;
    }

    .middle{
        width: 75%;
    }
}