section {
    background-image: url(../img/mercury-background.png);
    background-size: 55%;
    margin: 0%;
    background-position: bottom center;
}

.container {
    padding: 0% 7%;
    padding-top: 8%;
    padding-bottom: 5%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

h3 {
    position: relative;
}

h1 {
    padding-top: 5%;
    position: relative;
    text-align: center;
    opacity: 50%;
}

.text {
    display: flex;
    position: relative;
    text-align: justify;
    width: 35%;
    gap: 40px;
    flex-direction: column;
    text-shadow: 5px 2px 4px black;
}

.elementcolumn {
    display: flex;
    gap: 70px;
    width: 30%;
    flex-direction: column;
    justify-content: flex-end;
}

.column {
    justify-content: right;
}

.smallbox {
    width: 55%;
}

.rightsmallbox {
    display: flex;
    width: 55%;
    text-align: justify;
    justify-content: right;
    align-content: flex-end;
}

.next {
    position: relative;
    display: flex;
    width: 100%;
    padding-right: 6%;
    padding-bottom: 5%;
    justify-content: flex-end;
    align-items: right;
}

/* Responsive Design for Mobile */
@media screen and (max-width: 1220px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .text {
        padding-bottom: 10%;
    }

    .elementcolumn {
        gap: 0px;
        width: 100%;
        height: auto;
        justify-content: center;
        order: 2;
    }

    .text {
        order: 1;
    }
}

/* Responsive Design for Mobile */
@media screen and (max-width: 800px) {
    section {
        background-size: 120%;
    }

    .container {
        padding-top: 70%;
    }

    .column {
        height: auto;
        align-items: center;
        flex-direction: row;
    }
}