img {
    object-fit: cover;
}

h1 {
    position: absolute;
    text-align: center;
}

h2#teleBan {
    position: absolute;
    padding-bottom: 0px;
}

h2 {
    padding-bottom: 50px;
}

.centerText {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
    padding-bottom: 200px;
}

.column {
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    gap: 40px;
    padding-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
}

.leftDiv {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 25px
}

.rightDiv {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 25px;
}



img {
    object-fit: cover;
}

img#apollo {
    object-position: 0% 30%;
    opacity: 55%;
}

img#telescope {
    opacity: 55%;
}

.hide-item {
    display: flex;
}

.show-item {
    display: none;
}

.topBanner {
    align-items: center;
    justify-content: center;
    text-align: center;
}

h2#teletitle {
    align-items: center;
    justify-content: center;
    text-align: center;
}


@media screen and (max-width:800px) {

    h2 {
        align-items: left;
        text-align: left;
        padding: 20px;
    }

    .topBanner {
        height: 200px;
        max-width: 100%;
        padding-bottom: 0px;
    }

    img#apollo {
        object-fit: cover;
        object-position: 0% 18%;
        opacity: 55%;
    }

    .centerText {
        display: flex;
        margin-top: 100px;
        padding-left: 10%;
        padding-right: 10%;
        justify-content: left;
        text-align: left;
        align-items: left;
        gap: 20px;
        padding-bottom: 100px;
    }

    .column {
        flex-direction: column;
        align-items: center;
        padding-left: 10%;
        padding-right: 10%;
        width: 100%;
        gap: 40px;
        padding-bottom: 100px;

    }

    .leftDiv {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    .rightDiv {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 25px;
    }

    .hide-item {
        display: none;
    }

    .show-item {
        display: flex;
    }

    img#apollo {
        object-fit: cover;
        object-position: 0% 30%;
        opacity: 55%;
    }

    img#telescope {
        object-fit: cover;
        opacity: 55%;

    }

    .teleImg {
        object-fit: cover;
        object-position: 0% 80%;
    }

}