h1 {
    position: absolute;
    text-align: center;
}

h2#teleBan {
    position: absolute;
    padding-bottom: 0px;
    width: 70%;
}

h2 {
    padding-bottom: 50px;
}

img {
    object-fit: cover;
}

img#apollo{
    opacity: 55%;
}

img#telescope {
    opacity: 55%;
}

.centerText {
    display: flex;
    width: 100%;
    margin-top: 20%;
    margin-bottom: 20%;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
}

.column {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 40px;
    margin-bottom: 30%;
}

.leftDiv {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 25px
}

.rightDiv {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 25px;
}

.hide-item {
    display: flex;
}

.show-item {
    display: none;
}

.topBanner {
    align-items: center;
    justify-content: center;
    text-align: center;
}

h2#teletitle {
    align-items: center;
    justify-content: center;
    text-align: center;
}


@media screen and (max-width:800px) {

    h2 {
        padding-bottom: 0;
    }

    .topBanner {
        height: 200px;
        max-width: 100%;
        padding-bottom: 0px;
    }

    img#apollo {
        object-fit: cover;
        opacity: 55%;
    }

    .centerText {
        align-items: normal;
        justify-content: left;
        text-align: left;
        width: 100%;
        gap: 20px;
        margin-top: 20%;
        margin-bottom: 20%;
    }

    .column {
        flex-direction: column;
        align-items: center;
        padding-left: 10%;
        padding-right: 10%;
        width: 100%;
        gap: 40px;
    }

    .leftDiv {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    .rightDiv {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 25px;
    }

    .hide-item {
        display: none;
    }

    .show-item {
        display: flex;
    }

    .teleImg {
        object-fit: cover;
        object-position: 0% 80%;
    }

}