section {
    flex: 1;
    margin-left: 5%;
    margin-top: 5%;
    color: white;
    align-items: left;
    font-size: 20px;
    text-align: justify;
}

h1.title {
    font-family: "Orbitron", sans-serif;
    font-weight: bold;
    font-size: 72px;
    letter-spacing: 10px;
}

.text {
    display: flex;
    font-family: "Exo 2", sans-serif;
    font-size: 20px;
    flex-direction: column;
    text-align: justify;
    gap: 20px;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
    width: 80%;
}

.hide-item {
    position: absolute;
    display: flex;
    flex-direction: column;
    size-adjust: auto;
    width: 95%;
    height: 400px;
    background-image: url(../img/planet.jpeg);
    background-repeat: no-repeat;
    background-position: right;
    justify-content: flex-end;
}

.text {
    width: 80%;
}

.column {
    display: flex;
    justify-content: end;
    gap: 15px;
    padding-right: 5%;
    padding-bottom: 5%;
    padding-top: 10px;
}

.box {
    gap: 10px;
}



/* Responsive Design for Mobile */
@media screen and (max-width: 900px) {

    h1.title {
        font-size: 24px;
        font-weight: bold;
        /* Mobile font size adjustment */
    }

    .text {
        width: 95%;
        text-align: justify;
        font-size: 13px;
        /* Mobile font size adjustment */
    }

    .container {
        display: flex;
        margin-bottom: 5%;
        width: 100%;
    }

    .hide-item {
        height: 300px;
        display: flex;
        position: relative;
        background-size: 100%;
        background-position: right;
        justify-items: flex-end;
    }

    .column {
        padding-bottom: 15%;
        /* Mobile button resizing */
    }

    .box {
        display: flex;
        justify-content: center;
        gap: 5px;
        margin: 10px;
        height: 175px;
        /* Mobile button resizing */
    }
}