.container {
    display: flex;
    gap: 3%;
    padding-bottom: 50px;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

h1 {
    padding-bottom: 50px;
    text-align: center;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.sText {
    font-size: 24px;
}

.space {
    display: flex;
    justify-content: center;
    padding: 5px;
}

img {
    border-radius: 171px;
}

/* Responsive Design for Mobile */
@media screen and (max-width: 800px) {
    section {
        padding-top: 20px;
    }

    h1 {
        text-align: center;
    }

    .container {
        display: flex;
        gap: 10px;
        flex: 1;
        flex-wrap: wrap;

    }

    .column {
        height: auto;
        padding-bottom: 15px;
        flex: 1 1 calc(50% - 20px);
        max-width: calc(50% - 20px);
    }

    .sText {
        font-size: 13px;
        margin-right: 10%;
    }

    .space {
        margin-left: 10%;
        margin-right: 30%;
        width: 70%;
        height: 70%;
    }

    img {
        border-radius: 171px;
    }
}