section {
    padding-top: 150px;
}

.container {
    display: flex;
    gap: 3%;
    padding-bottom: 100px;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 72px;
    padding-bottom: 50px;
    text-align: center;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.text {
    font-size: 24px;
    padding: 40px;
}

.space {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.img {
    border-radius: 171px;
}

/* Responsive Design for Mobile */
@media screen and (max-width: 768px) {
    body {
        padding-top: 90px;
        /* Adjust padding for mobile */
    }

    .title {
        font-size: 24px;
        font-weight: bold;
        /* Mobile font size adjustment */
    }

    .container {
        display: flex;
        padding-left: 10%;
        padding-right: 10%;
        flex-direction: column;
    }

    .column {
        text-align: center;
    }

    .tex {
        font-size: 13px;
        padding: 40px;
    }

    .img img {
        width: 40%;
        height: 60%;
        border-radius: 171px;
    }
}