* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #000;
    color: #fff;
    line-height: 1.6;
}

.navbar {
    background-color: #000;
    z-index: 1000;
    position: fixed;
    width: 100%;
    top: 0;
    height: 60px;
}

.hero {
    background: url('../../images/technologybg.png') no-repeat center center/cover;
    text-align: center;
    padding: 180px 20px 100px;
    color: #fff;
    background-size: cover;
}


.content-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 10%;
}

.content {
    display: flex;
    align-items: center;
    gap: 100px;
    max-width: 1200px;
    margin: 0 auto;
}

.content.reverse {
    flex-direction: row-reverse;
}

.image {
    flex: 1;
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.text {
    flex: 1;
    text-align: left;
}


.text p {
    margin-top: 20px;
    line-height: 1.8;
}

.satellites-section {
    background: url('../../images/SatellitesandCommunicationSystemsbg.png') no-repeat center center;
    background-size: 100% 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
    padding: 0;
    margin: 0 auto;
}


.text-below {
    text-align: center;
    margin: 60px auto;
    padding: 20px;
    max-width: 800px;
    font-size: 1rem;
    line-height: 1.6;
    color: #fff;
}

@media (max-width: 1024px) {
    .content {
        flex-direction: column;
    }

    .content.reverse {
        flex-direction: column;
    }

    .hero {
        padding: 60px 20px;
    }

    .hero h1 {
        font-size: 2.5rem;
    }

    .satellites-section {
        height: 300px;
    }

}

@media (max-width: 768px) {
    .hero h1 {
        font-size: 2rem;
    }

    .content,
    .content.reverse,
    .text {
        text-align: center;
        /* Center text for mobile */
    }

    .image,
    .text {
        align-items: center;
        justify-content: center;
    }
}