section {
    background-image: url(../img/terrestrial-background.png);
    background-size: 60%;
    margin: 0%;
}


.container {
    padding: 0% 10%;
    padding-top: 20%;
    padding-bottom: 5%;
}

h1 {
    position: relative;
    padding-bottom: 20px;
    text-align: left;
    text-shadow: 5px 2px 4px black;
}

.text {
    display: flex;
    position: relative;
    text-align: justify;
    gap: 20px;
    flex-direction: column;
    text-shadow: 5px 2px 4px black;
}

.buttoncolumn {
    display: flex;
    gap: 3px;
    margin-top: 50px;
    margin-bottom: 100px;
    padding: 0% 10%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.next {
    display: flex;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 5%;
    justify-content: flex-end;
    align-items: right;
}

/* Responsive Design for Mobile */
@media screen and (max-width: 800px) {
    section {
        background-size: 120%;
    }

    .container {
        padding-top: 60%;
    }

    h1 {
        width: 50%;
    }

    .text {
        gap: 10px;
    }

    .buttoncolumn {
        gap: 10px;
        justify-content: center;
        display: flex;
        flex: 1;
        flex-wrap: wrap;
    }

    .column {
        height: auto;
        flex: 1 1 calc(50% - 20px);
        max-width: calc(50% - 20px);
    }
}