section {
    color: white;
    align-items: left;
    text-align: justify;
}

.container {
    padding: 5%;
    padding-top: 25%;

}

.columnup {
    width: 80%;
}

h1.title {
    font-family: "Orbitron", sans-serif;
    font-weight: bold;
    position: relative;
    font-size: 72px;
    letter-spacing: 10px;
    padding-left: 10px;
}

.text {
    display: flex;
    font-family: "Exo 2", sans-serif;
    font-size: 20px;
    position: absolute;
    text-align: justify;
    gap: 5%;
    flex-direction: column;
}

.background-image {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: absolute;
    /* Full width of the container */
    height: 600px;
    /* Adjust the height as needed */
    background-image: url(../img/ter\ img.png);
    /* Path to your image */
    background-size: cover;
    background-size: 90%;
    /* Scale the image to cover the entire area */
    background-position: right;
    background-repeat: no-repeat;
    /* Prevent the image from repeating */
    align-items: flex-end;
    justify-content: right;
}