section {
    color: white;
    background-image: url(../img/terrestrialbackground.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 60%;
    margin-left: 0%;
    margin-right: 0%;
}

h1{
    margin-bottom: 3%;
}

.container{
    display: flex;
    flex-direction: column;
    margin: 10%;
    margin-top: 0%;
    text-shadow: 5px 2px 4px black;
}

.text{
    margin-top: 25%;
}


.mainText {
    display: flex;
    position: relative;
    text-align: justify;
    gap: 20px;
    flex-direction: column;
}

.box {
    display: flex;
    padding: 5%;
    gap: 5%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.planetbutton {
    display: flex;
    justify-content: center;
    padding: 5px;
    padding-bottom: 25px;
}

/* Responsive Design for Mobile */
@media screen and (max-width: 800px) {
    section {
        background-size: 120%;
    }

    .container {
        padding-top: 60%;
    }

    h1 {
        width: 50%;
    }

    .text {
        gap: 10px;
    }

    .buttoncolumn {
        gap: 10px;
        justify-content: center;
        display: flex;
        flex: 1;
        flex-wrap: wrap;
    }

    .column {
        height: auto;
        flex: 1 1 calc(50% - 20px);
        max-width: calc(50% - 20px);
    }

    .planetbutton {
        width: 100%;
        height: 100%;
    }
}